body{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: green;
  background-repeat:no-repeat;
  background-size:contain;
  width:auto;
  padding:auto;
  margin:auto;
  text-align:center;
  font-size:25px;
  color: rgb(240, 255, 243)


